%h1 Date range
=link_to "Today", :action => :index, :tiempo => "hoy"
=link_to "Yesterday", :action => :index, :tiempo => "ayer"
=link_to "Siempre", :action => :index, :tiempo => "all"

=link_to "Download CSV", :action => :download, :tiempo => params[:tiempo]


%h1 Results
%table#mytable.td_title_table{:cellspacing=>"0"}
  %tr
    %td.title.left.black{:colspan => 2} General
  %tr
    %td.title Selected
    %td=@visitor_sessions.size


%h1 Estadísticas

/ %table#mytable.td_title_table{:cellspacing=>"0"}
/   %tr
/     %td.title.left.black{:colspan => 2} General
/   %tr
/     %td.title Visitors
/     %td=Visitor.count
/   %tr
/     %td.title Visitor Sessions
/     %td=VisitorSessions.count
/   %tr
/     %td.title Symbols MX
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "symbols_mx"}).size
/   %tr
/     %td.title Symbols ES
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "symbols_es"}).size
/   %tr
/     %td.title Symbols NE
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "symbols_ne"}).size  
/   %tr
/     %td.title UGC MX
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "ugc_mx"}).size  
/   %tr
/     %td.title UGC ES
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "ugc_es"}).size  
/   %tr
/     %td.title UGC NE
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "ugc_ne"}).size  
/   %tr
/     %td.title Dialect MX
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "dialect_mx"}).size  
/   %tr
/     %td.title DIALECT ES
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "dialect_es"}).size  
/   %tr
/     %td.title DIALECT NE
/     %td=Visitor.find(:all, :conditions => {:manipulation_level => "dialect_ne"}).size  


%br
%br

Visitor.last.country.iso

%table#mytable{:cellspacing=>"0", :summary=>"Projects"}
  -@visitor_sessions.each_with_index do |session, i|
    -if ((i % 15) == 0)
      %tr
        %th Visitor_id
        %th created_at
        %th First Ajax Call
        %th Window-load Call
        %th Visitor_home_country
        %th Variation
        %th Referrer
        %th IP
        %th # PVs
        %th Stories read
        %th Stories rated
        %th Newsletter
        %th Comments written
        %th Registered
        %th Avatar uploaded
        %th Stories written
        %th Avatars clicked

    %tr
      %td="#{session.visitor.id}"
      %td="#{session.created_at.strftime("%H:%M:%S")}"
      %td
        -if session.ajax_created_at
          ="#{session.ajax_created_at.strftime("%H:%M:%S ")}"
      %td
        -if session.ajax_on_load_time
          =session.ajax_on_load_time
      %td="#{session.visitor.country_iso}"
      %td="#{session.visitor.manipulation_level}"
      %td="#{session.referer}"
      %td="#{session.visitor.ip}"      
      %td="#{session.pageviews}"
      %td
        -session.stories_read.uniq.each do |story_id|
          =link_to story_id, story_path(story_id)
      %td
        -session.ratings.uniq.each do |story_id|
          =link_to story_id, story_path(story_id)
      %td="#{session.newsletter == false ? "-" : "yes"}"
      %td="#{session.comments}"
      %td="#{session.user_id ? link_to(User.find(session.user_id).login, user_path(session.user_id)) : "-"}"
      %td="#{session.avatar_uploaded == false ? "-" : "yes"}"
      %td="#{session.stories}"
      %td="#{session.avatars_clicked.uniq.join(", ")}"
