!!! XML
!!! Strict
%html{html_attrs("es")}
  %head
    %meta{content_type_attrs("text/html")}
    :erb
      <meta name="google-site-verification" content="BanUE3mMww9lyjbtd_hz1xZ838c3DsJAG37ByjFBobo" />
      <link rel=”shortcut icon” href=”favicon.ico” type=”image/x-icon”> 
    %title=yield(:title)

    = render :partial => "shared/js_and_css"
    /[if IE 7]
      =stylesheet_link_tag "iefixes_v7"
    /[if IE 6]
      =stylesheet_link_tag "iefixes_v6"
  %body{:id=>controller.controller_name}
    .wrapper{:id => controller.action_name}
      #main
        #header
          #logo
            =link_to "", root_path, :id => "sera_destino_logo"
          #sub_header
            .login.fix
              .links
                -unless logged_in?
                  =link_to t("top_login.register"), signup_path, :id => "top_signup_link", :class => "signup"
                  =link_to t("top_login.login"), login_path
                -else
                  =link_to t("top_login.my_account"), my_account_path, :class => "my_account"
                  =link_to t("top_login.logout"), logout_path
            .cr
            #right.fix
              =link_to(image_tag("btn_contar_nueva_historia.png"), new_story_path, :id => "btn_new_story")
            #header_text
              =t "global.introduction_text"
        #content
          =yield(:sidebar)
          #middle.fix
            - unless flash.empty?
              #flash_message
                = content_tag :div, flash[:success],  :class => "success"  if flash[:success]
                = content_tag :div, flash[:info],     :class => "info" if flash[:info]
                = content_tag :div, flash[:error],   :class => "error"   if flash[:error]
              / :javascript
              /   #{visual_effect :highlight, "flash"}
            =yield(:top)
            =yield(:top_filter_pages)
            #content_main_wrapper
              #content_main
                = yield
                = yield(:main)
              #content_footer
                = yield(:footer)
                #cat
                  =image_tag "footer_cat.png", :id => "footer_cat", :class => "tooltip", :title => "Miauuu ;-)"

          #end.fix.font_14
            =image_tag "footer_moon.png", :id => "footer_moon"
            =link_to t("global.terms"), terms_path, :id => "terms_link", :class => "fr"

    #inside_right $nbsp;
    =yield(:javascript)

    #spinner
      =image_tag "loading.gif"

    -if !logged_in?
      :javascript
        $("#user_profile_link").live("click", function(){
          jQuery.facebox($("#register_before_view_profile").show());
          return false;
        });
        
        $("a#btn_new_story").live("click", function(){
          jQuery.facebox($("#realy_write_story_without_signup").show());
          return false;
        });
        
        
    #register_before_view_profile{:style => "display: none;"}
      %p Este miembro prefiere sólo mostrar su perfil a miembros registrados.
      %br
      =link_to t("top_login.register"), signup_path, :id => "top_signup_link"

    #realy_write_story_without_signup{:style => "display: none;"}
      %h1 Puedes escribir tu historia sin registrarte, pero si lo haces:
      %ul
        %li recibirás notificaciones cuando tengas comentarios
        %li podrás elegir firmar con tu nombre de usuario o como anónimo
        %li tendrás un registro con tus historias, los comentarios que recibas y los que tú hagas
      %h2 ¿Quieres las ventajas de un usuario registrado?
      %br
      .fl
        =link_to "No, quiero escribir una historia ya.", new_story_path, :class => "font_14"
      .fr
        =link_to "Si, quiero registrarme", signup_path, :class => "font_14"
      .c

    -if current_user and !current_user.active?
      :javascript
        $(".only_if_activated_link").click(function(){
          alert("#{t('account.first_confirm_photo_link', :email =>current_user.email)}");
          return false;
        })
    = render :partial => "shared/google_analytics" if production?